Libraries/MIW/schema/metocTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by XML Authority Conforms to w3c http://wwww3org/2001/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="METOC_1.1">
	<!--  
	     Schema Name: METOC Global Data Types
	     Purpose:  To define global data types to be used throughout JMCDM XML schemas.
	     DOD Namespace: MET
	     Navy Functional Data Area: None
	     URL to most current version
	     Includes: None
	               
	     Managing Program of Record:
	     Used by API: None
	     Developed by: Planning Systems, Inc. , March 2002
	     
	     Creation Date: 4/1/2002
	     Change History:
		3/18/2002 Added OrganizationIdentifier data type
		4/2/2002 	Boolean data type
		4/4/2002	Changed file name to metocTypes.xsd
				Added Horizontal Datum Type
				Added VerticalDatum_Type
				
				
		Version METOC_1.1 includes the following changes:
		5/21/2002	Added data types IntegerDateTime_Type and DecimalDateTime_Type.
	-->
	<xsd:simpleType name="IntegerDateTime_Type">
		<xsd:annotation>
			<xsd:documentation>
				Definition: The calendar date and time represented as an integer.
				Domain Definition:  A general domain comprised of a mandatory 14-character field. The mandatory 14-character field consists of the format YYYYMMDDHHMMSS where: YYYY represents a calendar year and can contain any positive integer value; MM represents the ordinal number of a calendar month within the calendar year and is restricted to the values 01-12; DD represents the ordinal number of a day within the calendar month and is restricted to the values 01-31; HH represents an ordinal hour within the day and is restricted to the values 00-23; MM represents an ordinal minute within the hour and is restricted to the values 00-59; SS represents an ordinal second within the minute and is restricted to the values 00-59.                 		
            	</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="99991231235959"/>
			<xsd:minInclusive value="00010101000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecimalDateTime_Type">
		<xsd:annotation>
			<xsd:documentation>
				Definition: The calendar date and time represented as a number containing fractional digits.
				Domain Definition:   A general domain comprised of a mandatory 14-character field and an optional 3-character field. The mandatory 14-character field consists of the format YYYYMMDDHHMMSS where: YYYY represents a calendar year and can contain any positive integer value; MM represents the ordinal number of a calendar month within the calendar year and is restricted to the values 01-12; DD represents the ordinal number of a day within the calendar month and is restricted to the values 01-31; HH represents an ordinal hour within the day and is restricted to the values 00-23; MM represents an ordinal minute within the hour and is restricted to the values 00-59; SS represents an ordinal second within the minute and is restricted to the values 00-59.  The optional 3-character field allows the data element creator to specify the level of precision to be used when capturing seconds to the tenths or hundredths of a second, and consists of a decimal point followed by one character with a value, 0-9, for the capture of tenths of seconds, or two characters with the value, 00-99,when capturing hundredths of a second.
            	</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxInclusive value="99991231235959.999999"/>
			<xsd:minInclusive value="00010101000000.000000"/>
			<xsd:fractionDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--	
	<xsd:simpleType name = "dateTime">
		<xsd:restriction base = "xsd:timeInstant"/>
	</xsd:simpleType>
-->
	<xsd:simpleType name="duration">
		<xsd:restriction base="xsd:duration"/>
	</xsd:simpleType>
	<!-- Invalid 
	<xsd:simpleType name="period">
		<xsd:restriction base="xsd:timePeriod"/>
	</xsd:simpleType>
	-->
	<xsd:simpleType name="WindSpeed_Type">
		<xsd:annotation>
			<xsd:documentation>				
			Definition: The measured speed of the wind in the atmosphere				
			Units of Measure:  METERS-PER-SECOND 				
			Version: 1 				
			Comment Text:			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float">
			<xsd:maxInclusive value="200.00"/>
			<xsd:minInclusive value="000.00"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WindDir_Type">
		<xsd:annotation>
			<xsd:documentation>				
			Definition: The angle, measured in a clockwise direction, between true north and the 
					direction from which the wind is blowing in the atmosphere
				Units of Measure:  ANGULAR-DEGREES 
				Version: 1 
				Comment Text:  
			</xsd:documentation>
		</xsd:annotation>
		<xsd:list>
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:maxInclusive value="360"/>
					<xsd:minInclusive value="001"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:list>
	</xsd:simpleType>
	<xsd:simpleType name="AirPressure_Type">
		<xsd:annotation>
			<xsd:documentation>				
			Definition: The pressure of the isobaric surface in the atmosphere				Units of Measure:  HECTOPASCALS 
				Version: 2 
				Comment Text:
		</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float">
			<xsd:maxInclusive value="1100.0000000"/>
			<xsd:minInclusive value="0000.0000001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Height_Type">
		<xsd:annotation>
			<xsd:documentation>
				Definition: The height in the atmosphere in relation to a vertical reference datum
				Units of Measure:  METERS 
				Version: 2
				Comment Text:		
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="150000"/>
			<xsd:minInclusive value="-400"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Latitude_Type">
		<xsd:annotation>
			<xsd:documentation>				
			Definition: The latitude coordinate of a position on the earth's surface				Units of Measure:  Decimal Degrees of Great Circle
				Version: 1 
				Comment Text: Negative coordinates are in the Southern Hemisphere
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:maxInclusive value="90.0000000"/>
			<xsd:minInclusive value="-90.0000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Longitude_Type">
		<xsd:annotation>
			<xsd:documentation>				
			Definition: The longitude coordinate of a position on the Earth's Surface				Units of Measure:  Decimal Degrees of Great Circle
				Version: 2 
				Comment Text: Negative coordinates are in the Western Hemisphere  Also -1800 = 1800
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:maxInclusive value="180.0000000"/>
			<xsd:minInclusive value="-180.0000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AirTemp_Type">
		<xsd:annotation>
			<xsd:documentation>				
			Definition: The temperature of the air				
			Units of Measure:  DEGREES-CELSIUS 				
			Version: 1 				
			Comment Text:			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float">
			<xsd:maxInclusive value="63.0"/>
			<xsd:minInclusive value="-110.0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Depth_Type">
		<xsd:annotation>
			<xsd:documentation>				
			Definition: The distance from a vertical reference datum to a point in the water column
				Units of Measure:  Meters 
				Version: 2 
				Comment Text:
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:float">
			<xsd:maxInclusive value="12000.000"/>
			<xsd:minInclusive value="-100.000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Invalid
	<xsd:simpleType name="WindDirType_ListType">
		<xsd:annotation>
			<xsd:documentation>					
			Definition: List of arbitrary number of WindDir_Types.  Each WindDir_Type is seperated by a white space.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="WindDir_Type"/>
	</xsd:simpleType>
	<xsd:simpleType name="two_WindDirs_ListType">
		<xsd:annotation>
			<xsd:documentation>				
			Definition: List of exactly two WindDir_Types seperated by a white space.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="WindDirType_ListType"/>
	</xsd:simpleType>
	-->
	<xsd:simpleType name="OrganizationIdentifier_Type">
		<xsd:annotation>
			<xsd:documentation>	
				Definition: The identifier that represents an administrative structure with a mission.			
				JMCDM Attribute Name: ORGANIZATION identifier
				DDDS Counter:  7875		
				Comment Text:  Organization identifier (org-id) is a four-byte (32 bits)unsigned integer.  It is used as a surrogate key (no business meaning).  A 32-bit unsigned integer has the capability to uniquely enumerate more than 4.3 billion organizations(actually, 2**32), provided that all the possible numbers are used.  Integer values are assigned first-come, first-served,with no waste.  This has three obvious advantages:  (1) it is very general; (2) it provides a very terse manner in which to identify organizations, and (3) it allows the computers to do simple integer operations that are very fast.  There can be organization entity.  A basic assumption is that operators will not be accessing databases directly but will use application programs that in turn access databases.  Thus,operators will be insulated from details like "surrogate keys."  Administration of this approach is done with a set of seamless org-id servers.  The org-id servers are developed and maintained by the DoD CIO.  When an authorized user wants to create a new organization, an org-id must be obtained.  A request is sent to one of several org-id servers.  The requestor must return to the server the status, active or inactive, of the org-id requested.  The purpose of an org-id server is to ensure that org-ids are unique.  The actual organization information is located in "organization servers" maintained by the individual services or agencies.	
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:base64Binary">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>				
				Definition: Denotes a custom data type for boolean values such as: TRUE, FALSE
				source="http://diidesncrdisamil/xmlreg/user/detailcfm?ir_id=19539"
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FALSE"/>
			<xsd:enumeration value="TRUE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HorizontalDatum_Type">
		<xsd:annotation>
			<xsd:documentation>				
				Definition: The code that denotes a frame of reference for geodetic latitude and longitude.
                                   
				JMCDM Attribute Name: HORIZONTAL-REFERENCE-DATUM code				
				DDDS Counter: 31720
				Functional Area Id:  34
				STDZ Status Code:  A
				Security Category:  UNCLASSIFIED
				Authority Reference Text:  Department of Defense World Geodetic System 1984:  its definition and relationships with local geodetic systems, 2nd Edition, 1 September 1991
				Domain Definition:  A specific domain comprised of the characters in the ASCII character set              
				Version: 2
				Comment Text:  Code values may be obtained via the DDDS or through an Access file located here: http://www-datadmn.itsi.disa.mil/ddds/dddsmsacc.html
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VerticalDatum_Type">
		<xsd:annotation>
			<xsd:documentation>
				Definition: The code that represents a VERTICAL-REFERENCE-DATUM.
				Domain Values:Defs
					AGL:ABOVE GROUND LEVEL
					ALAT:APPROXIMATE LOWEST ASTRONOMICAL TIDE
					AP:APPARENT
					CFB:CREST OF FIRST BERM
					CRD:COLUMBIA RIVER DATUM
					ESLW:EQUATORIAL SPRINGS LOW WATER
					GCLWD:GULF COAST LOW WATER DATUM
					HAT:HIGHEST ASTRONOMICAL TIDE
					HHW:HIGHER HIGH WATER
					HTWW:HIGH TIDE WAVE WASH
					HW:HIGH WATER
					HWFC:HIGH WATER FULL AND CHANGE
					IND:INDEFINITE
					ISLW:INDIAN SPRING LOW WATER
					LAT:LOWEST ASTRONOMICAL TIDE
					LLW:LOWEST LOW WATER
					LNLW:LOWEST NORMAL LOW WATER
					LRLW:LOWER LOW WATER
					LSD:LAND SURVEY DATUM
					LW:LOW WATER
					LWD:LOW WATER DATUM
					LWFC:LOW WATER FULL AND CHANGE
					MHHW:MEAN HIGHER HIGH WATER
					MHLW:MEAN HIGHER LOW WATER
					MHW:MEAN HIGH WATER
					MHWN:MEAN HIGH WATER NEAP
					MHWS:MEAN HIGH WATER SPRING
					MLHW:MEAN LOWER HIGH WATER
					MLLW:MEAN LOWER LOW WATER
					MLLWS:MEAN LOWER LOW WATER SPRINGS
					MLMN:MEAN LOW WATER NEAP
					MLW:MEAN LOW WATER
					MLWS:MEAN LOW WATER SPRING
					MSL:MEAN SEA LEVEL
					MTL:MEAN TIDE LEVEL
					NC:NO CORRECTION
					NT:NEAP TIDE
					ST:SPRING TIDE
					SWA:STORM WAVE ACTION
					TLLW:TROPIC LOWER LOW WATER
					UD:UNDETERMINED
					UK:UNKNOWN
					WGS84E:WGS84 ELLISPOID
					WGS84G:WGS84 GEOID
					
				JMCDM Attribute Name: VERTICAL-REFERENCE-DATUM CODE
				DDDS Counter: 16971 
				Functional Area Id:  34
				STDZ Status Code:  A
				Security Category:  UNCLASSIFIED
				Authority Reference Text:  THIS CHARTER IS A RESULT OF DOD DIRECTION:5105.40, MOP 31, NATIONAL MILITARY STRATEGYDOCUMENT AND PUBLIC LAW: PL 10 U.S.C. CHAP.167, PL 144 U.S.C. CHAP. 13.
				Domain Definition:  A SPECIFIC DOMAIN COMPRISED OF THE CHARACTERS IN THE ASCII CHARACTER SET.                 
				Version: 2
				Comment Text:  UNDER THE STEWARDSHIP OF THE FDAD FOR INTELLIGENCE.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:enumeration value="AGL"/>
			<xsd:enumeration value="AGL"/>
			<xsd:enumeration value="ALAT"/>
			<xsd:enumeration value="AP"/>
			<xsd:enumeration value="CFB"/>
			<xsd:enumeration value="CRD"/>
			<xsd:enumeration value="ESLW"/>
			<xsd:enumeration value="GCLWD"/>
			<xsd:enumeration value="HAT"/>
			<xsd:enumeration value="HHW"/>
			<xsd:enumeration value="HTWW"/>
			<xsd:enumeration value="HW"/>
			<xsd:enumeration value="HWFC"/>
			<xsd:enumeration value="IND"/>
			<xsd:enumeration value="ISLW"/>
			<xsd:enumeration value="LAT"/>
			<xsd:enumeration value="LLW"/>
			<xsd:enumeration value="LNLW"/>
			<xsd:enumeration value="LRLW"/>
			<xsd:enumeration value="LSD"/>
			<xsd:enumeration value="LW"/>
			<xsd:enumeration value="LWD"/>
			<xsd:enumeration value="LWFC"/>
			<xsd:enumeration value="MHHW"/>
			<xsd:enumeration value="MHLW"/>
			<xsd:enumeration value="MHW"/>
			<xsd:enumeration value="MHWN"/>
			<xsd:enumeration value="MHWS"/>
			<xsd:enumeration value="MLHW"/>
			<xsd:enumeration value="MLLW"/>
			<xsd:enumeration value="MLLWS"/>
			<xsd:enumeration value="MLMN"/>
			<xsd:enumeration value="MLW"/>
			<xsd:enumeration value="MLWS"/>
			<xsd:enumeration value="MSL"/>
			<xsd:enumeration value="MTL"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="NT"/>
			<xsd:enumeration value="ST"/>
			<xsd:enumeration value="SWA"/>
			<xsd:enumeration value="TLLW"/>
			<xsd:enumeration value="UD"/>
			<xsd:enumeration value="UK"/>
			<xsd:enumeration value="WGS84E"/>
			<xsd:enumeration value="WGS84G"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
