Libraries/MIW/schema/MIWTarget.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by R. Wade Ladner (NAVOCEANO) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Jeff Smith (Naval Oceanographic Office) -->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2000/10/XMLSchema-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="metocatts.xsd"/>
	<!-- edited with XML Spy v4.2 (http://www.xmlspy.com) by Wade Ladner (personal) -->
	<xsd:element name="Targets">
		<xsd:annotation>
			<xsd:documentation>The root level object.  </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Target" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Target">
		<xsd:annotation>
			<xsd:documentation> A observation of a contact in imagery.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:choice>
				<xsd:element ref="Object" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute ref="contactId" use="required"/>
			<xsd:attribute ref="Q-Route"/>
			<xsd:attribute name="CRN" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The identifier that represents the Contact Reference Number (CRN) assigned to the contact (MIW Only).</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="MRN" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The identifier that represents the Mine Reference Number (MRN) assigned to the contact (MIW Only).</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="exercise" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The name of the exercise or survey operation which first identified the contact.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:attribute name="NAVOHydroImageryVersion" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Version of the NAVO Hydro format.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="contactId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Unique identifier for an object.  This is the Rout Survey Contact Number for a minelike object if from MIW Community.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="statusFlag" type="xsd:string"/>
	<xsd:attribute name="fusionId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>MEDAL 7 Fusion Identifier.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="historyRecordNumber" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>Index in to file structure to determine history record.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="Q-Route" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The name of the Q-ROUTE associated with the target.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="name" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The name of a platform/Sonar system.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:element name="Object">
		<xsd:annotation>
			<xsd:documentation>AN observation of contact or target or object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:element ref="Platform" minOccurs="0"/>
				<xsd:element ref="Sonar" minOccurs="0"/>
				<xsd:element ref="Image" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="Environment" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SSP_Level" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:attribute name="waterObDepth" type="Depth_Type">
										<xsd:annotation>
											<xsd:documentation>(Reuse from Joint METOC schema)</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="waterTemperature" type="xsd:decimal">
										<xsd:annotation>
											<xsd:documentation>(Reuse from Joint METOC schema)</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="waterSalinity" type="xsd:decimal">
										<xsd:annotation>
											<xsd:documentation>(Reuse from Joint METOC schema)</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="waterSoundSpeed" type="xsd:decimal">
										<xsd:annotation>
											<xsd:documentation>(Reuse from Joint METOC schema)</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="analyst" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The name of the analyst that entered the environmental data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="reason" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The text that describes the reason the analyst updated the environmental data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="comments" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>The text of relative comments about the environmental data related to the object.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="UpdateDTG" type="xsd:dateTime"/>
						<xsd:attribute name="Depth">
							<xsd:annotation>
								<xsd:documentation>The distance dimension from the ocean surface to the bottom of the water column. Measured in meters. (Reuse from Joint METOC schema)</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="bottomDepthSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the bottom depth data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="bottomDepthType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the bottom depth data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="bottomCompCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the ocean floor composition.
   0-Mud
   1-Sand 
   2-Gravel
   3-Rock
255-Unknown</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:enumeration value="0"/>
									<xsd:enumeration value="1"/>
									<xsd:enumeration value="2"/>
									<xsd:enumeration value="3"/>
									<xsd:enumeration value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="bottomCompSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the bottom composition data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="bottomCompType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the bottom composition data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="bottomDescCode" type="xsd:integer">
							<xsd:annotation>
								<xsd:documentation>The code identifing the description of the ocean floor.
   0-Clay
   1-Very Fine Silt
   2-Fine Silt
   3-Silt
   4-Coarse Silt
   5-Very fine Sand
   6-Fine Sand
   7-Sand
   8-Course Sand
   9-Very Course Sand
  10-Granules
   11-Pebbles/Shells
   12-Oyster SHells/Cobbles
   13-Boulders
   14-Solid Rock
  255-Unknown

</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="bottomDescSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the bottom description data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="bottomDescType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the bottom description data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="bottomRoughnessCode" type="xsd:integer">
							<xsd:annotation>
								<xsd:documentation>The code identifing the general type of ocean floor where the object was identified.
   0-Smooth
   1-Moderate
   2-Rough
   255-Unknown</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="bottomRoughnessSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the bottom roughness data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="bottomRoughnessType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the bottom roughness data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="clutter1Code">
							<xsd:annotation>
								<xsd:documentation>The code that denotes an approximation of the number of non mine-like bottom objects per square mile.
   0-1 to 15
   1- 16 to 40
   2- more than 40
 255- Unknown</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:enumeration value="0"/>
									<xsd:enumeration value="1"/>
									<xsd:enumeration value="2"/>
									<xsd:enumeration value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="clutter1Source" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the clutter 1 data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="clutter1Type" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the clutter 1 data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="clutter2Code">
							<xsd:annotation>
								<xsd:documentation>The code that denotes an approximation of the density of non mine-like bottom objects.
   0-None
   1-Low
   2-Medium
   3-High
 255-Unknown</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:enumeration value="0"/>
									<xsd:enumeration value="1"/>
									<xsd:enumeration value="2"/>
									<xsd:enumeration value="3"/>
									<xsd:enumeration value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="clutter2Source" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the clutter 2 data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="clutter2Type" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the clutter 2 data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="armThrust" type="xsd:decimal">
							<xsd:annotation>
								<xsd:documentation>The depth dimension that a diver thrust his arm into the sediment on the ocean bottom. Measured in Centimeters.
</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="armThrustSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the arm thrust data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="armThrustType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the arm thrust data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="potentialBurial">
							<xsd:annotation>
								<xsd:documentation>The potential amount of burial of an object in the ocean floor.
   0-1 to 10
   1-10 to 20
   2-20 to 75
   3-75 to 100
 255-Unknown</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:enumeration value="0"/>
									<xsd:enumeration value="1"/>
									<xsd:enumeration value="2"/>
									<xsd:enumeration value="3"/>
									<xsd:enumeration value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="potentialBurialSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the potential burial data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="potentialBurialType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the potential burial data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="horizontalVisibility" type="xsd:decimal">
							<xsd:annotation>
								<xsd:documentation>The horizontal distance dimension an object can be seen and identified in the water column. Measured in Meters.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="horizontalVisibilitySource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the horizontal visibility data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="horizontalVisibilityType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the horizontal visibility data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="verticalVisibility" type="xsd:decimal">
							<xsd:annotation>
								<xsd:documentation>The vertical distance an object can be seen and identified in the water column. Measured in Meters.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="verticalVisibilitySource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the vertical visibility data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="verticalVisibilityType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the vertical visibility data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="windSpeed">
							<xsd:annotation>
								<xsd:documentation>(Reuse from Joint METOC schema)</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="windSpeedSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the wind speed data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="windSpeedType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the wind speed data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="seaState">
							<xsd:annotation>
								<xsd:documentation>The code identifing the current state of the sea. (Reuse from Joint METOC schema)</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="seaStateSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the sea state data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="seaStateType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the sea state data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="currentSpeed">
							<xsd:annotation>
								<xsd:documentation>(Reuse from Joint METOC schema)</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="currentSpeedSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the current data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="currentSpeedType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the current data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="currentDirection">
							<xsd:annotation>
								<xsd:documentation>(Reuse from Joint METOC schema)</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="currentDirectionSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the current data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="currentDirectionType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the current data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="sspLatitude" type="Latitude_Type">
							<xsd:annotation>
								<xsd:documentation>The latitude at which the sound speed profile was taken. Measured in Degrees.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="sspLongitude" type="Longitude_Type">
							<xsd:annotation>
								<xsd:documentation>The longitude coordinate at which the sound speed profile was taken. Measured in Degrees.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="sspDTG" type="xsd:dateTime">
							<xsd:annotation>
								<xsd:documentation>THE CALENDAR DATE AND TIME at which the  sound speed profile was taken.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="sspSource" type="sourceCode">
							<xsd:annotation>
								<xsd:documentation>The code identifing the source of the sound speed data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="sspType" type="sourceType">
							<xsd:annotation>
								<xsd:documentation>The code identifing the type of the sound speed data.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="sspNumLvls" type="xsd:integer">
							<xsd:annotation>
								<xsd:documentation>The qunatity of levels in the assocoaited ssp.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Representation" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Geospatial rerpresentation for an object.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="xsd:anyType">
								<xsd:attribute name="representationType" use="required">
									<xsd:annotation>
										<xsd:documentation>The type specifying the type of representation. 0= line 1 = polygon</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer">
											<xsd:enumeration value="0"/>
											<xsd:enumeration value="1"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="count" use="required">
									<xsd:annotation>
										<xsd:documentation>The number of vertices in the representation."</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:integer"/>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="length">
				<xsd:annotation>
					<xsd:documentation>The length dimension of the contact for the Target. Units are in meters.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal"/>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="width" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>The width dimension of the contact for the Target. Units are in meters.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="height" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>The height dimension of the contact from the bottom. Measured in Meters.
</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="depth" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>The depth dimension from the water surface to the contact. Measured in Meters.
</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="horizontalOrientation">
				<xsd:annotation>
					<xsd:documentation>The bearing angle, measured from true North, to the major horizontal axis of the contact. Measerued in Angular Degrees.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.0"/>
						<xsd:maxInclusive value="360.0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="verticalOrientation">
				<xsd:annotation>
					<xsd:documentation>The angle measured from the sea floor to the major vertical axis of the contact. Measured in Angular Degrees.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.0"/>
						<xsd:maxInclusive value="90.0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ringing">
				<xsd:annotation>
					<xsd:documentation>The code that denotes a strong signal return on a sonar image.
   0=No
   1=Yes</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="N"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="T"/>
						<xsd:enumeration value="F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="strength">
				<xsd:annotation>
					<xsd:documentation>The code that denotes the return echo strength of a contact.
0=Strong
1=Medium
2=Weak</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="shadow">
				<xsd:annotation>
					<xsd:documentation>The code that denotes that thecontact  is proud of bottom.
   0=No
   1=Yes</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="N"/>
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="T"/>
						<xsd:enumeration value="F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="description" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The text describing the contact.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="remarks"/>
			<xsd:attribute name="reasonForUpdate" type="xsd:integer"/>
			<xsd:attribute name="confidenceLevel">
				<xsd:annotation>
					<xsd:documentation>The code that denotes the amount of confidence the analyst has in the values entered.

   0=N/A
   1=Low
   2=Medium Low
   3=Medium
   4=Medium High
   5=High</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="surveyId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The name of the exercise or survey operation which first identified the contact.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="latitude" use="required">
				<xsd:annotation>
					<xsd:documentation>The latitude coordinate of the contact.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="longitude" use="required">
				<xsd:annotation>
					<xsd:documentation>The longitude coordinate of the contact.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="eventDTG" type="xsd:dateTime" use="required">
				<xsd:annotation>
					<xsd:documentation>The THE CALENDAR DATE AND TIME (UTC) of the observation of the contact.  See W3C XML Schema Specifiactions for format details.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="LRN" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The identifier that represents Lay Reference Number (LRN) assigned to the contact by the identifying unit.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="errorMajorAxis" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>The length of the  majoraxis of an elliptical area defining the possible error in the horizontal position of the contact. Measured in Meters.
</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="errorMinorAxis" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>The length of the minor axis of an elliptical area defining the possible error in the horizontal position of the contact. Measured in Meters.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="errorAngle">
				<xsd:annotation>
					<xsd:documentation>The bearing angle, from true North, to the major axis of an elliptical area defining the possible error in the position of the contact.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0.0"/>
						<xsd:maxInclusive value="180.0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="surveyType">
				<xsd:annotation>
					<xsd:documentation>The code that denotes the organizational activity conducting the survey.
0=MCM
1=NAVOCEANO
2=Other</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="class">
				<xsd:annotation>
					<xsd:documentation>The code that denotes the class of the contact.
0=Mine Like
1=Non-mine Like
2=Unexploded</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="category">
				<xsd:annotation>
					<xsd:documentation>The code that denotes the category describing a contact.
0=Coral Head
1=Fish Equipment/Trap
2=Pipe Drum
3=Rock
4=Scrap Medal
5=Whip Wreckage
6=Well Head
7=Other Man-made
8=Other Natural
</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
						<xsd:enumeration value="6"/>
						<xsd:enumeration value="7"/>
						<xsd:enumeration value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="shape" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The text that describes the geometric shape of the contact.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="burial">
				<xsd:annotation>
					<xsd:documentation>The percentage of the contact buried.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="multipleAspects">
				<xsd:annotation>
					<xsd:documentation>The code that denotes whether the contact has been detected from multiple angles.
0=No
1=Yes</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="status" type="xsd:string"/>
			<xsd:attribute name="fusionId" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>This is the identifier of a object fused from other objects.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="historyRecordNumber" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>The record number of the last observation of an object (i.e. the currnt info on a particular contact).</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="analystActivity" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The name of the organization of then analyst that created the Object.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="analyst" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The name of the analyst who created the contact.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="RS_analyst" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The name of the analyst who put the contact in the MCDB or Route Survey DB. (MIW Only)</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="averageError" type="xsd:integer"/>
			<xsd:attribute name="standardDeviation" type="xsd:integer"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Sonar">
		<xsd:annotation>
			<xsd:documentation>The Sonar parameters at the time of an observation of an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute ref="name">
				<xsd:annotation>
					<xsd:documentation>he name of the equipment used in the event.  (SQQ-30, SQQ-32, Klein 100, Klein  500, DUBM20,...)</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="mode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The code identifing the mode of the sonar when the object was identified.
  0=Detect
  1=Classify</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="type">
				<xsd:annotation>
					<xsd:documentation>The code identifing the type of sonar used to identy the object.
   0=Ahead Looking
   1=Hand Held
   2=SideScan
   3=Other
   4=Unknown</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="freq" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>The frequency rate used by the sonar for the detection.  Meaured in kHz.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="depth" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>The operationg depth, from the water surface, of the sonar at the time of the detction. Measured in Meters.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="pulseLength" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>The pulse length of the operating signal of a sonar at the time of the decteion.
Measured in Milliseconds.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="latitude">
				<xsd:annotation>
					<xsd:documentation>The latitude location of the sonar at the time of the detection.  Measured in Decimal Degrees.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="longitude">
				<xsd:annotation>
					<xsd:documentation>The latitude location of the sonar at the time of the detection.
Measured in Decimal Degrees.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="tilt">
				<xsd:annotation>
					<xsd:documentation>The angle from horizontal of the sonar at the time of the detection. Measured in  Angular-Degrees.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:float">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="90"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="pitch">
				<xsd:annotation>
					<xsd:documentation>The fore and aft angular rotation of the sonar platform's center of gravity at the time of detection. Measured in Angular-Degrees.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:float">
						<xsd:minInclusive value="-90.0"/>
						<xsd:maxInclusive value="90.0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="roll">
				<xsd:annotation>
					<xsd:documentation>The ATHWARTSHIPS angular rotation of the sonar platform's center of gravity  at the time of the detection.  Measured in Angular-Degrees.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:float">
						<xsd:minInclusive value="-90.0"/>
						<xsd:maxInclusive value="90.0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="yaw">
				<xsd:annotation>
					<xsd:documentation>The angular rotation about the vertical axis of the sonar platform's center of gravity at the time of the detection.  Meaured in Angular-Degrees.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:float">
						<xsd:minInclusive value="-90.0"/>
						<xsd:maxInclusive value="90.0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="contactBearing">
				<xsd:annotation>
					<xsd:documentation>The angle, measured from true North, of the contact from the sonar. Measured in Angular-Degrees.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:float">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="360"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="contactRange">
				<xsd:annotation>
					<xsd:documentation>The horizontal distance dimension of the contact from the sonar. Measured in Meters.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:float">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9999.9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Platform">
		<xsd:annotation>
			<xsd:documentation>The platform  parameters at the time of an observation of an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute ref="latitude" use="optional"/>
			<xsd:attribute ref="longitude" use="optional"/>
			<xsd:attribute name="heading">
				<xsd:annotation>
					<xsd:documentation>The angle of the direction of movement, from true North, of the survey platform when the target was detected. </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:float">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="360"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="equipType">
				<xsd:annotation>
					<xsd:documentation>The type of equipment used during the event to identify the object.
  0=EOD
  1=MNS
  2=MNV
  3=Sonar
  4=Other</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="navSystem">
				<xsd:annotation>
					<xsd:documentation>The code identifing the type of navigation system used.
   0=DM 40
   1=GPS
   2=Hyperfix
   3=Loran C
   4=Mini Ranger
   5=Syledis
   6=Other
   7=Unknown</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
						<xsd:enumeration value="6"/>
						<xsd:enumeration value="7"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute ref="name">
				<xsd:annotation>
					<xsd:documentation>The name of the platform used in the survey.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="speed">
				<xsd:annotation>
					<xsd:documentation>The speed of the SURVEY platform for the at the time of the event. Measured in Knots.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:float">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="99.9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="platformType">
				<xsd:annotation>
					<xsd:documentation>The code identifing the type of platform used in the event.
   0=EOD
   1=MCM
   2=MH53
   3=MHC
   4=White Hull
   5=Other</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Image">
		<xsd:annotation>
			<xsd:documentation>The parameters describing a snippet of imagery visually showing an observation of an object.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:attribute name="snippetFileName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The file name of the image snippet of the contact/target.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="scanlineLatitude" type="Latitude_Type">
				<xsd:annotation>
					<xsd:documentation>The latitude coordinate of the first pixel (upper right hand corner) of the snippet file. Measured in Decimal Degrees.
</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="scanlineLongitude" type="Longitude_Type">
				<xsd:annotation>
					<xsd:documentation>The longitude coordinate of the first pixel (upper right hand corner) of the snippet file. Measured in Decimal Degrees.
</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="scanlineRow" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>The row coordinate in the source imagery file corresponding to the first pixel (upper right corner) of the snippet. </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="scanlineColumn" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>The column coordinate in the source imagery file corresponding to the first pixel (upper right corner) of the snippet. </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="georefSnippetFilename" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Thye file name of a georeferenced image file (geoTiff, etc.) of the snippet. </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="equipment" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>String describing the sonor used.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="MEDALName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The Image file name used in MEDAL. (GCCS Image Segment dependent).
</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="MEDALHost" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The host IP address for the Image Server. (MEDAL GCCS Dependent).</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="UNISIPSName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The UNISIPS IMage file name. </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="sourceCode">
		<xsd:annotation>
			<xsd:documentation>Type used to capture the source (who recorded) of an environmental data parameter.
   0-CMWC (Commander, Mine Warfare Command)
   1-EOD (Explosive Odinance Diposal) Uinit
   2-HM (Helo squadron )
   3-MCMRON (Mine Warfare  Counte Measures Squadron)
   4-MCMV (Mine Counter Measures Vehicle)
   5-NAVOCEANO
   6-Other
   7-Unknown</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="sourceType">
		<xsd:annotation>
			<xsd:documentation>Type used to dertermine the source (where did it come from) of an environmental parameter.
   0-Measured
   1-Historical
   2-Chart</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
